:root{
    --cor1:#f8f9fa;
    --cor2:#e9ecef;
    --cor3:#dee2e6;
    --cor4:#ced4da;
    --cor5:#adb5bd;
    --cor6:#6c757d;
    --cor7:#495057;
    --cor8:#343a40;
    --cor9:#212529;
}


@media (max-width: 500px) {
    div {
        width: 95%;
        padding: 15px;
    }

    div input.submitbutton {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}
button{
    margin: -30px;
    padding: 1px;
    
    border-radius: 5px;
}

body{
    
    background-image: url(/imagens/Wra-200.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    margin: 0;  
    display: flex;/*ativa flexbox*/
    justify-content: center;/*centraliza horizontalmente*/
    align-items: center;/*centraliza verticalmente*/
}

div{
   border-radius: 5px;
    display: flex;
    justify-content:center ;
    align-items: center;
}
#formulario{
    border-radius: 5px;
    background-color: var(--cor1);
        
}
#formulario:hover{
    background-color: var(--cor6);
    transition: all 0.5s ease;
    padding: 15px;
}
div input.submitbutton{
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px;
    background-color: white;
    border: solid 4px black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 4px 4px 5px rgb(0,0,0.3);
 
}
div input.submitbutton:hover{

    color: white;
    background-color: black;
    transform: scale(1.05);

}
div input{

    border-radius: 10px;
}

table {
   
    padding: px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

    /* Centralizar o conteúdo do primeiro <td> */
    .logo-container {
        text-align: center;
    }

    .logo-container img {
        width: 50px; /* Ajuste o tamanho conforme necessário */
        height: auto;
    }